body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d7eef8;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img{
    width: 140px;
}

nav a{
    text-decoration: none;
    color: #0b5c8a;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    transition: 0.3s;
}
nav a:hover{
    color: #2ba84a;
}
.redes img{
    width: 35px;
    margin-left: 10px;
    transition: 0.3s;
}
.redes img:hover{
    transform: scale(1.15);
}

.banner{
    text-align: center;
    background-color: #0b6fa4;
    color: white;
    padding: 50px 20px;
}
.banner h1{
    font-size: 48px;
    margin-bottom: 10px;
}

.banner p{
    font-size: 20px;
}
.historia{
    text-align: left;
    background-color: #5695b7;
    color: white;
    padding: 50px 20px;
}
.productos{
    text-align: left;
    background-color: #add3e7;
    color: black;
    padding: 50px 20px;
}

footer{
    background-color: #0b5c8a;
    color: white;
    text-align: center;
    padding: 15px;
}
